

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>


        .txt {
            text-align: center;
            font-size: 40px;
        }

        .mini{
            padding: 20px;
            /* background-color: skyblue; */
        }

        .card-body {
            height: 200px;
            background-color: skyblue;
            background-size: cover;
            /* height: 300px; */
            
        }
        .card-footer{
            align-content: center;
            background-color: skyblue;
        }
    </style>
</head>

<body>

    
    <nav>
        <a class="  navbar-brand" href="#" style=" background-color: gray; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;">
            <center><img style="max-height: auto; width:50%; " src="static/image/PIET logo with tagline.jpg" 
            class="img-responsive" style="margin-top:0px; width: auto; height: auto; min-width:100%; min-height: auto;"></center>
           </div>  
      
       </a>
       <br>
   </nav>
    <div style="background-color:rgb(40, 38, 46) ;width: 1520px; padding: 10px;">
        <a href="/" style="color: rgb(252, 252, 251);margin-left: 15px;">Home</a>

        <a href="/qr" style="color: rgb(252, 252, 251);margin-left: 15px;">QR Code</a>
        <a href="/aboutusnew" style="color: rgb(252, 252, 251);margin-left: 15px;">About us</a>


    </div>
<br><br>

<h2 style="text-align: center; font-family:fantasy">Machine Learning Projects</h2>
    
    <div class="mini">
        <br>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Excitement Predictor</h5>
                        <p class="card-text">This is a machine learning project which predicts the 
                            Excitement of any person based on various inputs using classification.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://atulyashree-excitement-proj7.herokuapp.com/" style="background-color: purple;" class="btn btn-primary">Go to project</a>                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Placement Predictor</h5>
                        <p class="card-text">This is a machine learning project which predicts the 
                            placement status of any student based on various inputs(performance) using classification.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://atulyashree-placement-proj6.herokuapp.com/" style="background-color: purple;" class="btn btn-primary">Go to project</a>                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">IPhone Review</h5>
                        <p class="card-text">This is a machine learning project which predicts whether  
                            any review is positive or negetive based on its previous reviews, 
                            so that it can identify and compare good and bad reviews using classification.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://atulyashree-nlp-iphone-review-app-klym1q.streamlitapp.com/" style="background-color: purple;" class="btn btn-primary">Go to project</a>                    </div>
                </div>
            </div>
        </div>

        <br><br>


        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Titanic Survival Prediction</h5>
                        <p class="card-text">This is a machine learning project which predicts the 
                            survival of any passenger based on various inputs related to them and the ship using classification.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://atuyashree-knn-titanic.herokuapp.com/" style="background-color: purple;" class="btn btn-primary">Go to project</a>                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">House Price Predictor</h5>
                        <p class="card-text">This project predicts the 
                            price of any house based on various inputs using multi-linear regression model of machine learning.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://dashboard.heroku.com/apps/atulyashree-multi-regress" style="background-color: purple;" class="btn btn-primary">Go to project</a>                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Restaurant Review</h5>
                        <p class="card-text">This is a machine learning project which predicts whether  
                            any review is positive or negetive based on its previous reviews, 
                            so that it can identify and compare good and bad reviews using classification.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://atulyashree-nlp-naive-bayes-classif--app-05032d.streamlitapp.com/" style="background-color: purple;" class="btn btn-primary">Go to project</a>                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    
        <div class="fixed-bottom ">
            <div class="bg-secondary " style="min-height: 40px; background-color: rgb(172, 169, 169);">
    
                <marquee style="color:#fff; margin-top: 7px;">
                    <h9>Developed by Atulya Shree Sharma, PIET20CS044</h9>
                </marquee>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

</body>
</html>
